[mysqld]
skip-host-cache
skip-name-resolve
character-set-client-handshake=FALSE
character-set-server=utf8mb4
collation-server=utf8mb4_bin
init-connect='SET NAMES utf8mb4'
max-connections=20000
max-connect-errors=10000
open-files-limit=65535

server-id=1
log-bin=/var/lib/mysql/binlog/binlog
slave-net-timeout=60

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

