[mysqld]
skip-host-cache
skip-name-resolve
character-set-client-handshake=FALSE
character-set-server=utf8mb4
collation-server=utf8mb4_bin
init-connect='SET NAMES utf8mb4'
max-connections=20000
max-connect-errors=10000
open-files-limit=65535

server-id=1
log-bin=/var/lib/mysql/binlog/binlog
binlog-do-db=config_server
binlog-ignore-db=meili_report_data
log-slave-updates=1
slave-skip-errors=1
binlog_cache_size=32M
binlog_format=ROW
expire_logs_days=14
max_binlog_size=500M

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

